* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 18px;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    /* background-color: rgb(224, 16, 16); */
    overflow-x: hidden;
  }
  
  .container {
    background-color: black;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-around;
    border-bottom: white solid 1px;
    
  }

  .logo {
    color: white;
  }
  
 /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

  /* main */
  
  .main {
    /* border:1px solid rgb(228, 228, 228); */
    background-color: white;
    color: black;
  }
  
  .main-dark {
    background-color: rgb(0, 0, 0);
    color: white !important;
  }

  .greeting {
    text-align: center;
    font-size: 0.7em;
    padding: 20px 0px;
    
  }

  
  .greeting h2, p {
     /* width: 600px;  */
     /* width: 100%; */
  }
  
  .ugreeting {
    display: flex;
    padding: 30px 0px;
  }
  
  .greeting h2 {
    padding-top: 20px;
  } */ */
  
  
  .greeting-dark {
    color: white;
  }
  

  .self {
    width: 90px;
  }
  
  .education {
    /* border-bottom:solid 0.2px grey ; */
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
    display: flex;
    justify-content:space-around;
  }
  
  .education p {
    padding-top: 30px;
    text-align: justify;
    padding: 0px 15px;
  }
  
  .eduimage1 {
    /* width: 500px; */
    box-shadow: 10px 10px #000;
  }
  
  .work {
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .work p {
    padding-top: 30px;
    text-align: justify;
    padding: 0px 20px;
  }
  
  .workimg {
    /* width: 500px; */
    /* height: 300px; */
    width: 100%;
    height: auto;
    box-shadow: -10px 10px #000;
  }
  

  /* contact */
  
  .contact-wrapper {
    padding-top: 50px;
    background-color: #fff;
    padding-left: 30px;
    padding-bottom: 50px;
  }
  
  .contact-wrapper-dark {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  input,
  textarea {
    /* width: 350px; */
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 18px;
    border: 0.3px solid rgb(201, 195, 195);
  }
  
  .contact-title {
    font-size: 1.3em;
    border-bottom: 0.3px solid rgb(218, 213, 213);
  }
  
  .contact-submit {
    background-color: #dee7ec;
    color: #889eab;
    /* width: 350px; */
  }
  
  .email {
    padding-top: 25px;
  }
  
  .btn {
    padding: 12px 50px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    list-style: none;
    width: 11%;
  }
  
  .signup {
    background-color: #2b77b6;
    text-decoration: none;
    box-shadow: 1px 5px #000;
    text-align: center;
  }
  
  .signup:hover {
    background-color: rgba(32, 22, 22, 0.5);
  }
  
  /* footer */
  
  footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-top: 1px solid white;
    padding: 20px 0;
  }

  .menu-footer h1 {
    color: white;
    justify-content: center;
    padding-top: 25px;
  }
  
  .copy-right {
    padding-top: 30px;
  }

  .self_ {
    width: 90px;
  }
  
  /* Responsive break point */
  @media (max-width: 1024px) {
    .logo {
      display: none;
    }
  
    .menu {
      grid-template-columns: 1fr;
    }
  
    .education p {
      width: fit-content;
    }
  
    .work p {
      width: fit-content;
    }
  }
  
  @media (max-width: 576px) {

    .logo {
      display: none;
    }
  
    .menu {
      display: flex;
      justify-content: space-around;
    }
  
    .menu-list {
      display: none;
    }
  
    .greeting {
      
      width: fit-content;
      padding-left: 10px;
      justify-content: center;
    }

    .self {
      /* padding-left: 150px; */
    }

    .ugreeting {
      flex-direction: column;
      align-content: center;
    }
  
    .ugreeting p {
      display: none;
    }
  
    .ugreeting h2 {

      text-align: center;
      padding-left: 20px;
    }
    .svg {
      width: 70vh;
      left: 0%;
      
    }
    
    .education {
      display: flex;
      flex-direction: column;
    }

    .education p {
      padding-bottom: 10px;
      width: fit-content;
    }

    .eduimage1 {
      width: 100%;
      height: auto;
      box-shadow: 10px 10px #000;
    }

    .work {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .work p {
      padding-bottom: 10px;
      width: fit-content;
    }
  
    .menu-footer li {
      display: none;
    }

    .btn {
      width:26%;
    }
  
    .menu-footer {
      background-color: black;
      grid-template-columns: none;
    }

    .self_ {
      display: none;
    }
  
    footer {
      display: flex;
      justify-content: space-around;
    }
  
    .copy-right {
      display: block;
      height: 1px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  
    .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  }  
  

  
  @media (max-width: 360px) {
    .nav-wrapper {
      justify-content: start;
    }

    .logo {
      display: none;
    }

    .ugreeting h2 {
      width: fit-content;
      font-size: 12px;
      /* text-align: center; */
      padding-right: 10px;
      
    }

    .self {
      /* padding-left: 120px; */
    }

    .svg {
      width: 64vh;
      left: 0%;
      
    }
    .education p {
      padding-bottom: 10px;
      width: fit-content;
    }
  
    .work {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .work p {
      padding-bottom: 10px;
      width: fit-content;
    }

    input, textarea {
      width: 80%;
    }

    .btn {
      width: 60%;
      text-align: center;
    }

    .signup:hover {
      background-color: rgba(32, 22, 22, 0.5) !important;
    }
    .self_ {
      display: none;
    }

    .menu-footer h1 {
      font-size: 0.8em;
      padding-left: 20px;
      padding-bottom: 30px;
    }

    .copy-right {
      padding-bottom: 60px !important;
     padding-left: 120px;
     padding-top: 10px;
    }

    footer {
      /* display: flex; */
      justify-content: space-around;
      padding-top: 30px;
    }

    .contact-wrapper {
      align-items: flex-start;
    }
